<%= form_with(model: configuration, local: true) do |form| %>
  <% if configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(configuration.errors.count, "error") %> prohibited this endpoint-configuration from being saved:</h2>

      <ul>
      <% configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :request_path %>
    <%= form.text_field :request_path %>
  </div>

  <div class="field">
    <%= form.label :time_window %>
    <%= form.number_field :time_window, step: 1 %>
  </div>

  <div class="field">
    <%= form.label :max_allowed %>
    <%= form.number_field :max_allowed, step: 1 %>
  </div>

  <div class="field">
    <%= form.label :track_pathwise %>
    <%= form.check_box :track_pathwise%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>