<p id="notice"><%= notice %></p>

<h1>Endpoint Configurations</h1>

<table>
  <thead>
    <tr>
      <th>Request Path</th>
      <th>Time Window</th>
      <th>Max Allowed</th>
      <th>Track Pathwise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configurations.each do |configuration| %>
      <tr>
        <td><%= configuration.request_path %></td>
        <td><%= configuration.time_window %> minutes</td>
        <td><%= configuration.max_allowed %> requests</td>
        <td><%= configuration.pathwise_tracking_enabled %></td>
        <td><%= link_to 'Show', configuration %></td>
        <td><%= link_to 'Edit', edit_endpoint_configuration_path(configuration) %></td>
        <td><%= link_to 'Destroy', configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New configuration', new_endpoint_configuration_path %>
