<p id="notice"><%= notice %></p>

<p>
  <strong>IP Address:</strong>
  <%= @configuration.request_path %>
</p>

<p>
  <strong>Time Window:</strong>
  <%= @configuration.time_window %>
</p>

<p>
  <strong>Max Allowed:</strong>
  <%= @configuration.max_allowed %>
</p>

<p>
  <strong>Track Pathwise:</strong>
  <%= @configuration.pathwise_tracking_enabled %>
</p>

<p>
  <strong>Sample Tracking Key (for ip: 1.2.3.4):</strong>
  <%= @configuration.sample_key %>
</p>

<%= link_to 'Edit', edit_endpoint_configuration_path(@configuration) %> |
<%= link_to 'Back', endpoint_configurations_path %>
