<p id="notice"><%= notice %></p>

<h1>Blacklisted keys in Redis</h1>

<span>
  <p>
    To un-block, to go rails console and type:
    Rails.cache.delete("insert-key-here")
  </p>
</span>
<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @list.each do |entry| %>
      <tr>
        <td><%= entry.redis_key %></td>
        <td><%= entry.value_for_display %></td>
        <td><%= entry.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
